web-cv-app/.gradle/
web-cv-app/.settings/
web-cv-app/build/
web-cv-app/.project
web-cv-rest/.gradle/
web-cv-rest/.settings/
web-cv-rest/build/
web-cv-rest/.project
/build
.idea
.gradle
.settings
.project
*.pub
/bin
