<div class="col-lg-2 col-xs-12 col-sm-12 box shadow-box" >
	<div id='searchbox' class="test"   ng-controller='SearchController'  >
		<label >Sök</label>
		<input placeholder="Text search" class="" id="searchBox" style="width: 100%;" type='text' ng-model='searchAttr' ng-change="search()" ng-keydown="toggle($event)"  />
		<ul class="search-result" >
			<li ng-repeat="e in employeeFilterList" >
				<a href="" ng-click="loadCV(e)" >{{e.name}}</a>
			</li>
		</ul>
		<div id="loadtext" class="overlay" ><span>Loading...</span></div>
	</div>
</div>
<div class="col-lg-1" ></div>
<div class="col-lg-6 col-xs-12 col-sm-12 box shadow-box container-sm" ng-controller='EditController'>
	<div id="loader" ></div>
	<nav class="navbar navbar-default" role="navigation" style="background-color: #FFFFFF; border: none;" >
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" style="margin-right: 0;" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-menu-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <img alt="logo" class="logo" src="img/logo.jpg">
	    </div>
	    <div class="collapse navbar-collapse" id="bs-menu-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li ng-show="showCVBox"  ><a href="" ng-click="changeLang('SE')" >Svenskt CV</a></li>
	        <li ng-show="showCVBox"  ><a href="" ng-click="changeLang('EN')" >Engelskt CV</a></li>
	        <li><a href="" ng-click="addNewEmployee()" >Add new Consultant</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div id="consultantinfo" class="dot-box " >
			<span class="dot-box-header" >Konsult info</span>
			<div class="block" style="float: left" >
				<div id="fileupload" class="file-upload-box" ng-controller="FileUploadController" >
 				<div id="filedrag" file-input="file" file-drag="uploadFile()" >
 					<p>Drop a picture</p>
 				</div>
			</div>	
		</div>
		<div class="block" style="padding-left: 10px;" >
		 	<label style="display: block;" >Namn</label>
		 	<input placeholder="Input full name"  type='text' ng-model='employeeForEdit.name' size="30"/>
		 	<label style="margin-top:0.5em;display: block;">Roll</label>
		 	<input placeholder="Input role" type='text' ng-model='employeeForEdit.role' size="40"/>
		 </div>
		 <div class="block"  >
			 <button ng-hide="showCVBox" style="position: absolute; right: 10px; bottom: 15px;" class="btn" ng-click="createEmployee()"  >Lägg till konsult</button>	
		 </div>
		</div>
		<div ng-show="showCVBox" >
			<div id="introductioncontainer" class="dot-box">
	 		<span class="dot-box-header" >Introduktionssida</span>
	 		<label>Introduktion</label>
	 		<textarea placeholder="Edit" onpaste="pasteSort(this)" class="row-spacing" ng-model="selectedCV.introduction" rows="5" cols="70" ></textarea>
	 		<label>Språk</label>
	 		<textarea placeholder="Edit" onpaste="pasteSort(this)"  class="row-spacing" rows="5" cols="70" ng-model="selectedCV.language" ></textarea>
	 		<label>Produkter, Verktyg, Ramverk</label>
	 		<textarea placeholder="Edit" onpaste="pasteSort(this)" class="row-spacing" rows="5" cols="70" ng-model="selectedCV.framework" ></textarea>
	 		<label>Metoder</label>
	 		<textarea placeholder="Edit" onpaste="pasteSort(this)" class="row-spacing" rows="5" cols="70" ng-model="selectedCV.method" ></textarea>
	 	</div>
	 	<div ng-repeat="assignment in selectedCV.assignments" >
	 		<div class="dot-box">
				<span class="dot-box-header" >Uppdrag - {{assignment.customer}}</span>
		 		<div class="block" >
			 		<label>Kund</label>
		 			<input placeholder="Edit"  type='text' ng-model='assignment.customer' />
	 			</div>
	 			<div class="block" >
	 				<label>Roller</label>
		 			<input placeholder="Edit" type='text' ng-model='assignment.role' />
	 			</div>
		 		<div class="block" >
		 			<label>Datum</label>
		 			<input placeholder="Edit"  type='text' ng-model='assignment.date' />
		 		</div>
		 		<div class="block" >
		 			<input type="checkbox" ng-model="assignment.include" /> (Inkludera)
		 		</div>
		 		<div class="block" style="float: right;" >
					<a ng-if="!$first" href="" ng-click="moveUp(assignment)" >Flytta upp</a>
					<a ng-if="!$last" href="" ng-click="moveDown(assignment)" >Flytta ner</a>
					<a href="" ng-click="removeAssignment(assignment)" >Ta bort</a>
		 		</div>
		 		<label>Beskrivning</label>
		 		<textarea placeholder="Edit" onpaste="pasteSort(this)"placeholder="Edit" class="row-spacing"  rows="5" cols="70" ng-model="assignment.description" ></textarea>
		 		<label>Tekniker</label>
		 		<textarea placeholder="Edit" onpaste="pasteSort(this)"class="row-spacing"  style="height: 40px;" rows="5" cols="20" ng-model="assignment.techniques"  ></textarea>
			</div>
		</div>
		<div class="dot-box">
			<span class="dot-box-header" >Uppdrag</span>
			<a href="" style="float: right;" ng-click="addAssignment()" >Lägg till uppdrag</a>
		</div>
		<div class="dot-box">
			<span class="dot-box-header" >Ytterligare information</span>
			<div ng-repeat="section in selectedCV.dynamicSections" >
		 		<label>{{section.headlinese}} <span style="font-size: 10px; font-weight: normal;" >(inkludera <input type="checkbox" ng-model="section.include" />)</span> </label>
		 		<textarea placeholder="Edit" onpaste="pasteSort(this)" class="row-spacing"  rows="5" cols="70" ng-model="section.content" ></textarea>
			</div>
		</div>
		<button class="btn" ng-click="saveChanges()" >Spara ändringarna</button>
		<a class="gen-link" id="msdoclink" onclick="alert('The document generation will take a few sec. Click ok to start the download')" href="{{endpoint}}/document?employeeid={{employeeForEdit.id}}&lang={{selectedLang}}" download>Download docx  <img alt="logo"  src="img/download.png"></a>	
	</div>
</div>
<div class="col-lg-3 " ></div>

		